@import "tailwindcss";

body {
     font-family: var(--font-montserrat), sans-serif;
     background-color: #F9F5F3;
}

@keyframes slideMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .animate-slideMobile {
    display: flex;
    width: max-content;
    animation: slideMobile 15s linear infinite;
  }
}

@keyframes fadeInColor {
  0% {
    fill: #8d3f2c18;
  }
  50% {
     fill: #8D402C; 
  }
  100% {
    fill: #8d3f2c18;
  }
}

.loader {
  animation: fadeInColor 3s ease-in forwards infinite;
  height: 100px;
}